<a href="https://colab.research.google.com/github/ananyakaalindi/Data-Analysis/blob/main/Pandas_indepth.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#Reading data in csv or textual files

import pandas as pd

df=pd.read_csv('iris.csv',header=None)
df

               0           1            2           3               4
0    sepallength  sepalwidth  petallength  petalwidth           class
1            5.1         3.5          1.4         0.2     Iris-setosa
2            4.9         3.0          1.4         0.2     Iris-setosa
3            4.7         3.2          1.3         0.2     Iris-setosa
4            4.6         3.1          1.5         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
146          6.7         3.0          5.2         2.3  Iris-virginica
147          6.3         2.5          5.0         1.9  Iris-virginica
148          6.5         3.0          5.2         2.0  Iris-virginica
149          6.2         3.4          5.4         2.3  Iris-virginica
150          5.9         3.0          5.1         1.8  Iris-virginica

[151 rows x 5 columns]

In [7]:
df=pd.read_csv('iris.csv',names=['one','two','three','four','five'])
df

             one         two        three        four            five
0    sepallength  sepalwidth  petallength  petalwidth           class
1            5.1         3.5          1.4         0.2     Iris-setosa
2            4.9         3.0          1.4         0.2     Iris-setosa
3            4.7         3.2          1.3         0.2     Iris-setosa
4            4.6         3.1          1.5         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
146          6.7         3.0          5.2         2.3  Iris-virginica
147          6.3         2.5          5.0         1.9  Iris-virginica
148          6.5         3.0          5.2         2.0  Iris-virginica
149          6.2         3.4          5.4         2.3  Iris-virginica
150          5.9         3.0          5.1         1.8  Iris-virginica

[151 rows x 5 columns]

In [10]:
import numpy as np
frame1=pd.DataFrame(np.arange(16).reshape((4,4)),index=['blue','yellow','green','red'],columns=['pen','pencil','bag','cup'])
frame1.to_csv('Frame.csv',index=False,header=False)

In [13]:
#Writing data in HTML
frame=pd.DataFrame(np.arange(4).reshape((2,2)))
print(frame.to_html())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>3</td>
    </tr>
  </tbody>
</table>

In [26]:
#Merging two dataframes

dict1={'Objects':['pen','pencil','bag','mug'],'Price':[20,10,200,70]}
df1=pd.DataFrame(dict1)
dict2={'Objects':['cup','pencil','pen'],'Color':['Red','Ash','Black'],'Price':[50,15,20]}
df2=pd.DataFrame(dict2)
pd.merge(df1,df2)

  Objects  Price  Color
0     pen     20  Black

In [22]:
pd.merge(df1,df2,on='Price') #criteria defined for merging

  Objects_x  Price Objects_y  Color
0       pen     20       pen  Black

In [28]:
pd.merge(df1,df2,on='Price',how='left')

  Objects_x  Price Objects_y  Color
0       pen     20       pen  Black
1    pencil     10       NaN    NaN
2       bag    200       NaN    NaN
3       mug     70       NaN    NaN

In [29]:
pd.merge(df1,df2,on='Price',how='right')

  Objects_x  Price Objects_y  Color
0       NaN     50       cup    Red
1       NaN     15    pencil    Ash
2       pen     20       pen  Black

In [30]:
pd.merge(df1,df2,on='Price',how='outer')

  Objects_x  Price Objects_y  Color
0       pen     20       pen  Black
1    pencil     10       NaN    NaN
2       bag    200       NaN    NaN
3       mug     70       NaN    NaN
4       NaN     50       cup    Red
5       NaN     15    pencil    Ash

In [31]:
pd.merge(df1,df2,on='Price',how='inner')

  Objects_x  Price Objects_y  Color
0       pen     20       pen  Black

In [34]:
#using indexes as keys for merging

pd.merge(df1,df2,right_index=True,left_index=True)

  Objects_x  Price_x Objects_y  Color  Price_y
0       pen       20       cup    Red       50
1    pencil       10    pencil    Ash       15
2       bag      200       pen  Black       20

In [38]:
#join function can be used to do the merging by indexes

#It can combine many dataframes having same indexes but no columns overlapping.

df2.columns=['Obj','Color','Rate']
df1.join(df2)

  Objects  Price     Obj  Color  Rate
0     pen     20     cup    Red  50.0
1  pencil     10  pencil    Ash  15.0
2     bag    200     pen  Black  20.0
3     mug     70     NaN    NaN   NaN

In [54]:
frame1=pd.DataFrame({'a':[1,5,8,7,6,5],'b':[7,5,9,np.nan,4,np.nan],'c':[5,9,3,2,6,5]})
frame2=pd.DataFrame({'a':[1,8,2,7,5,np.nan],'b':[7,5,np.nan,9,np.nan,4],'c':[5,9,3,2,6,5]},index=[6,7,8,9,10,11])
pd.concat([frame1,frame2])

      a    b  c
0   1.0  7.0  5
1   5.0  5.0  9
2   8.0  9.0  3
3   7.0  NaN  2
4   6.0  4.0  6
5   5.0  NaN  5
6   1.0  7.0  5
7   8.0  5.0  9
8   2.0  NaN  3
9   7.0  9.0  2
10  5.0  NaN  6
11  NaN  4.0  5

In [55]:
pd.concat([frame1,frame2],axis=1)

      a    b    c    a    b    c
0   1.0  7.0  5.0  NaN  NaN  NaN
1   5.0  5.0  9.0  NaN  NaN  NaN
2   8.0  9.0  3.0  NaN  NaN  NaN
3   7.0  NaN  2.0  NaN  NaN  NaN
4   6.0  4.0  6.0  NaN  NaN  NaN
5   5.0  NaN  5.0  NaN  NaN  NaN
6   NaN  NaN  NaN  1.0  7.0  5.0
7   NaN  NaN  NaN  8.0  5.0  9.0
8   NaN  NaN  NaN  2.0  NaN  3.0
9   NaN  NaN  NaN  7.0  9.0  2.0
10  NaN  NaN  NaN  5.0  NaN  6.0
11  NaN  NaN  NaN  NaN  4.0  5.0

In [61]:
dict1={'Color':['green','red','blue','green','blue','black'],'Value':[3,7.8,4,6,9,2.2]}
df=pd.DataFrame(dict1)
df.groupby('Color').sum()

       Value
Color
black    2.2
blue    13.0
green    9.0
red      7.8

In [62]:
df.groupby('Color').mean()

       Value
Color
black    2.2
blue     6.5
green    4.5
red      7.8

In [76]:
#Pivot Tables
data=pd.read_csv('iris.csv')
df=pd.DataFrame(data)
df1=df.head() 
table=df1.pivot_table(index='sepallength')
table

             petallength  petalwidth  sepalwidth
sepallength
4.6                  1.5         0.2         3.1
4.7                  1.3         0.2         3.2
4.9                  1.4         0.2         3.0
5.0                  1.4         0.2         3.6
5.1                  1.4         0.2         3.5

In [80]:
table=df1.pivot_table(index='sepallength',columns='petallength',aggfunc=np.sum)
table

            petalwidth           sepalwidth
petallength        1.3  1.4  1.5        1.3  1.4  1.5
sepallength
4.6                NaN  NaN  0.2        NaN  NaN  3.1
4.7                0.2  NaN  NaN        3.2  NaN  NaN
4.9                NaN  0.2  NaN        NaN  3.0  NaN
5.0                NaN  0.2  NaN        NaN  3.6  NaN
5.1                NaN  0.2  NaN        NaN  3.5  NaN

In [82]:
#Pickling - used in serializing and deserializing a Python object structure

data=np.arange(16).reshape((4,4))
df=pd.DataFrame(data)

df.to_pickle('dummy') #pickling

unpickled_df=pd.read_pickle('dummy') #unpickling
unpickled_df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15